.form-wrapper {
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .3);
    padding: 15px;
    margin-top: 45px;
    border-radius: 10px;
}
.App {
    background: #eee;
}

.btn {
    padding: 5px 30px !important;
    border-radius: 50px !important;
}

.sidebar {
    background: #fff;
    float: left;
    width: 300px;
    max-width: 25%;
    height: 100vh;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 0px
}

.main-view {
    background: #fafafa;
    position: fixed;
    left: 300px;
    height: 100vh;
    width: calc(100% - 300px);
    top: 0;
    height: calc(100vh - 42px);
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
}

ul.thread-list {
    list-style: none;
    padding: 0px;
}

ul.thread-list label {
    padding-left: 20px;
    font-size: 12px;
    color: #aaaa;
    padding-top: 10px;

}


ul.thread-list li a {
    text-decoration: none;
    color: #555a;
}

ul.thread-list li a .zmdi {
    font-size: 45px;
    float: left;
    padding: 5px 15px;
    color: #ccc;
}

ul.thread-list li a h5 {
    font-size: 15px;
    padding: 10px;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

ul.thread-list li a p {
    font-size: 14px;
    color: #999a;
}

.input-view {
    position: fixed;
    left: 300px;
    width: calc(100% - 300px);
    bottom: 0px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, .5);
}

.input-view .form-control {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
    font-size: 14px;
    padding: 10px;
    height: auto;
}

.message-item {
    padding: 10px;
}

.message-item .zmdi.zmdi-account-circle {
    float: left;
    margin-top: 5px;
    font-size: 32px;
    color: #aaaa;
    margin-left: 0px;
    margin-right: 5px;

}

.message-item.msg-right .zmdi.zmdi-account-circle{
    float: right;
    margin-left: 5px;
    margin-right: 0px;
}

.message-item .chat-bubble {
    max-width: 600px;
    display: inline-block;
    padding: 10px 15px;
    padding-top: 4px;
    border-radius: 5px;
    background: #ddd;
    margin: 0px 5px;
}

.message-item.msg-right .chat-bubble {
    background: #1d8ff1;
    margin: 0px 5px;
    color: #fff;
}